<template>
  <div>
    
    <div class="jumbotron">
				<h2>
					{{title}}
				</h2>
				<p>
					This is a template for a simple marketing or informational website. It includes a large callout called the hero unit and three supporting pieces of content. Use it as a starting point to create something more unique.
				</p>
				<p>
					<a class="btn btn-primary btn-large" @click="changeTitle"  href="#">Learn more</a>
				</p>
			</div>
 </div>   
</template>

<script>
export default {
     data(){
         return{
             title:'the title'
         }
     },
     methods:{
         changeTitle()
         {
             this.$emit('changeTitle',this.title)
         }
     }
}
</script>

<style>


</style>
