<template>
  <div>
      <input v-model="bignumber" type="text" name="" id="">
      <span> the factorization of {{bignumber}} is {{factor}}</span>
  </div>
</template>

<script>

export default {
     data()
     {
         return {
             bignumber:0,
             factor:0
         }
     },

     computed:{
         modular_power( base,  exponent ,modulus){
             var result = 1;
             while(exponent>0)
             {
                 if(!(expoenent%2==0))
                  {
                      result = (result*base)%modulus;
                      exponent = exponent >>1;
                      base = (base*base) %modulus;
                  }
             }

             return result;
         },
         pollarize()
         {
             x,y=2;
             c = this.modular_power(2,5,100);
             return c;
             //construct the f(x)

         }
     }
}
</script>
