<template>
<div>
    <h1>this is about page with id: {{$route.params.id}} and name {{name}}</h1>
    <h3>{{car}}</h3>
    <router-link to="/">buckh to howm</router-link>
</div>
</template>

<script>
import axios from 'axios'
export default {
  asyncData ({ params }) {
    return axios.get(`https://api.myjson.com/bins/16zki2`)
    .then((res) => {
        console.log(res.data )
      return { 
          name: res.data.name,
          age: res.data.age,
          car:res.data.car
          }
    })
    .catch(function(err){
        error({
            statusCode:404,
            message: "this is an inconsistent data"
        })
    })
    
  }
}
</script>
