<template>
<div>
    <h1>aa baa out</h1>
    <ul >
        <li >{{list}}</li>
        
    </ul>
    <router-link to="/">buckh to howm</router-link>
     <router-link to="/_id">to about with id</router-link>
</div>
</template>
<script>
export default {
    data(){
        return {
           
        }
    },
    computedL:{
      list(){ 
         return this.$store.state.shader
    }
    }
}
</script>
