<template>

   <div>
    <div class="container-fluid">
	<div class="row">
		<div class="col-md-12">
			<nav class="navbar navbar-expand-lg navbar-light bg-light">
				 
				<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
					<span class="navbar-toggler-icon"></span>
				</button> <nuxt-link to="/about">to-about</nuxt-link>
				<nuxt-link to="/about/2">to-about-id</nuxt-link>
				<nuxt-link to="/mod">go to caller</nuxt-link>
				<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
					<ul class="navbar-nav">
						<li class="nav-item active">
							<nuxt-link to="/vuex">route to vuex</nuxt-link>
							 <a  @click.prevent="route_fire" class="nav-link" href="#">router fire <span class="sr-only">(current)</span></a>
						</li>
						<li class="nav-item">
							 <a class="nav-link" href="#">Link</a>
						</li>
						<li class="nav-item dropdown">
							 <a class="nav-link dropdown-toggle" href="http://example.com" id="navbarDropdownMenuLink" data-toggle="dropdown">Dropdown link</a>
							<div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
								 <a class="dropdown-item" href="#">Action</a> <a class="dropdown-item" href="#">Another action</a> <a class="dropdown-item" href="#">Something else here</a>
								<div class="dropdown-divider">
								</div> <a class="dropdown-item" href="#">Separated link</a>
							</div>
						</li>
					</ul>
					<form class="form-inline">
						<input class="form-control mr-sm-2" type="text" v-model="ids" /> 
						<button class="btn btn-primary my-2 my-sm-0" type="submit">
							Search
						</button>
					</form>
					<ul class="navbar-nav ml-md-auto">
						 <pollard> </pollard>	
					</ul>
				</div>
			</nav>
			<headers @changeTitle="titleCatcher($event)"></headers>
		</div>
	</div>
	<div class="row">
		<div class="col-md-4">
			<h2>
				Heading
			</h2>
			<p>
				Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.
			</p>
			<p>
				<a class="btn" href="#">View details »</a>
			</p>
		</div>
		<div class="col-md-4">
			<h2>
				Heading
			</h2>
			<p>
				Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.
			</p>
			<p>
				<a class="btn" href="#">View details »</a>
			</p>
		</div>
		<div class="col-md-4">
			<h2>
				{{mymsg}}
			</h2>
			<p>
			 get metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.
			</p>
			<p>
        <b-alert show> Hello {{ mymsg }}! </b-alert>
				<a class="btn" href="#">View details »</a>
			</p>
		</div>
	</div>
</div>
     </div>
    
</template>
  
<script>
 
  import modal from   'assets/components/modal'
  import headers from 'assets/components/headers'
  import pollard from 'assets/components/pollard'
 
  export default {
	  components:{headers,pollard},
    data()
    {
        return {
             mymsg: "my smg",
			 mytxt:'',
			 ids:''
        }
    },
	methods:
	{
		route_fire()
		{
			 
			  this.$router.push('/about')
		},
		titleCatcher(newtitle)
		{
			console.log(newtitle)
			this.mymsg = newtitle;
		}
	}
    

  }
</script>