<template>
    <div class="main">
        <button @click="caller">run api call</button>
        <ul >
            <li v-for="title in titles" :key="title.body">
                {{title.title}}
                 <span style="color:red"> <b> {{title.userId}} </b> </span>
            </li>
           
        </ul>
    </div>
</template>

<script>
export default {
    data(){
        return {
            users:[],
            titles:[],
            usid:[]
        }
    },
    methods:{
        caller(){
             
        },
        userfilter(ids)
        {
            return ids1;
        }
    },
    mounted:function(){
             fetch('https://jsonplaceholder.typicode.com/posts')
            .then(response => response.json())
            .then((body)=> {
                body.map(bd=>this.titles.push(bd))
                body.map(bd=>this.usid.push(bd.userId))
                console.log(this.usid.filter((userfilter)=>userfilter>1))
                })
    }
}
</script>
