<template>
<div>
    <span>{{$store.state.shader}}</span>
  <button @click="$store.commit('increment')">{{ $store.state.counter }}</button>
  <button @click="$store.commit('hulk')">mutate</button>
  <ul v-for="(index,lis) in nums">
      <li @click="halum(index)">{{lis}}</li>
  </ul>
  <div class="primary">
      <h3>{{$store.getters.get_hulk}}</h3>
      <h4>{{$store.getters.get_hulk_bulk}}</h4>
  </div>
  <button class="btn btn-primary" @click=" hulk">action text vuex</button>
  </div>
</template>
<script>
import {mapGetters} from 'vuex'
import {mapActions} from 'vuex'
import router from 'vue-router'
export default {
    computed:
    {
        nums(){
            return this.$store.state.nums;
        },
        ...mapGetters([
            'get_hulk'
        ])
    },
    methods:
    {
       halum(index){
           alert(index)
         var url = "/about/"+index;
         this.$router.push(url)
       },
        ...mapActions([
            'hulk'
        ])

    }
}
</script>
